@import '../../styles/borders';

#login_screen {
  background-color: #f0f2f4;
  height: 100%;

  .login_body {
    margin: 10% auto auto;
    width: 13em;

    .login_submit {
      text-align: center;
      margin-top: 1em;

      button {
        padding: 0.5em 1em;
        cursor: pointer;
      }
    }

    .login_input {
      margin-bottom: 1.5em;
      display: flex;
      flex-direction: column;

      input {
        height: 2.5em;
        width: 15em;
        padding-left: 0.5em;
        border: $border-width solid #cfd8e6;
      }

      .login_label {
        margin-bottom: 0.5em;
      }
    }
  }
}
